<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>货比三家</title>
    <style>
        body{
            background-color: pink;
        }
        img{
            max-height: 100px;
            max-width:600px;
        }

        #ggg{
            position: fixed;
            bottom: 10px;
            right: 10px
        }
        table:hover
        {
            background-color: cornsilk;
        }
    </style>
</head>
<body>
<div class="cla">
<table align="center" >
  <tr>
    <td>
      <table border="0">
        <tr>
          <td><img src="http://img.alicdn.com/bao/uploaded/i4/TB1IFWxl5_1gK0jSZFq59.paXXa_112746.jpg"></td>
          <td valign="top">
            <table border="0">

              <tr>
                <td width="350"><font color="blue">商品名字</font></td>
              </tr>
              <tr valign="top">
                <td ><font color="#dc143c" size="5">价格</font>
              </tr>
              <tr>
                <td width="350"><font color="blue">销量</font></td>
              </tr>
              <tr>
                <td >店铺名称</td>
              </tr>
              </table>
              <table border="0">
                <tr>
                  <td  align="center" width="80"></td>
                </tr>
              </table>
              </td>
              </tr>
            </table>
    </td>
  </tr>



</table>
</div>
<div id="ggg">
    <a class="back-to-top" href="#top">返回顶部</a>
    <a href="/">返回上一页</a>
</div>

</body>
</html>